
* {
    outline: 1px solid red;
}
.flex-container {
    flex-direction: column;
    max-width: 100%;
    justify-content: space-around;
    
}

.flex-header {
    background-color: #333;
    color: #fff;
    padding: 20px;

}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row {
     display: flex;
      height: 33.33%;
    
   
}

.flex-item{             
    justify-content: space-between;
    width: 100rem;
    height: 10rem;
    margin: 0 10px;
    border: 1px solid #333;
    margin: 10px;


} 


.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.nav li {
    display: inline-block;
    margin: 0 10px;
}

.main {
    display: flex;
    flex-wrap: wrap;
}

.article {
    flex: 1 1 60%;
    margin-right: 20px;
}

.sidebar {
    flex: 1 1 30%;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}